<!DOCTYPE html>
<html>
<head><title>Language Documentation</title></head>
<body>
<h2>C++</h2>
<a href="file:///usr/share/doc/stl-manual/html/index.html">STL Manual</a>

<h2>Java</h2>
<a href="file:///usr/share/doc/openjdk-7-doc/api/index.html">Java API Documentation</a>

<h2>Python</h2>
<a href="file:///usr/share/doc/python-doc/html/index.html">Python Documentation</a>

<h2>Pascal</h2>
<a href="file:///usr/share/doc/fp-docs/2.4.4/fpctoc.html">FPC Documentation</a>

<h2>Haskell</h2>
<a href="file:///usr/share/doc/ghc-doc/index.html">Haskell Documentation</a>

</body>
</html>
